* {
    box-sizing: border-box;
    /*    domyślnie jest content-box*/
}

div.uniwersalny {
    color: blue;
    margin-top: 100px;
}

/*pseudo elementy*/

/*pseudoelement należy do elementu*/
p::before {
    content: '*';
    /*    color: darkgoldenrod;*/
}

p::after {
    content: '***'
}

a:hover {
    color: orange;
}

input:focus {
    background-color: chocolate;
}

/*
ul li:first-child {
    color: orange;
}

ul li:last-child {
    color: orange;
}

ul li:first-of-type {
    color: orange;
}

ul li:nth-of-type(even) {
    color: darkcyan;
}

ul li:nth-of-type(4n + 1) {
    color: mediumvioletred;
}
*/
ul li:nth-last-of-type(even) {
    color: darkcyan;
}

ul li:nth-of-type(even) {
    color: red;
}

input[title] {
    border: 2px solid black;
}

input[title='nowy'] {
    border: 2px solid red;
}

input[title ~ ='jest'] {
    border: 4px solid blue;
}

/*
input[title*='o'] {
    border: 4px solid red;
}
*/


/*pozycjonowanie*/

.main-container {
    position: relative;
}

.main-container-inner {
    height: 200px;
}

/*
.orange {
    background-color: orange;
    position: relative;
    top: 20px;
    left: 80px;
}
*/
.orange {
    background-color: orange;
    position: absolute;
    width: 100%;
    top: 20px;
    left: 80px;
}

.gray {
    background-color: gray;
}

#main-nav {
    /*    position: fixed;*/
    /*    width: 100%;*/

    top: 0;
    left: 0;

    position: sticky;
    background-color: darkcyan;
    z-index: 1;
}

.jednostki-miary {
    margin-top: 100px;
    font-size: 20px;
}

.jednostki-miary > div {
    background-color: rgb(23, 123, 200, .4);
    margin-bottom: 10px;
}

#piksele {
    width: 400px;
}

#em {
    width: 20em;
}

#procenty {
    width: 50%;
}

#vh {
    height: 10vh;
}

.wyswietlanie .w-inner {
    display: inline-block;
    background-color: violet;
    height: 300px;
    width: 32%;
    float: left;
    /*
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
*/
    /*    transition-delay: 0.5s;*/
    transition: width .5s ease-in;
}

.wyswietlanie .w-inner:hover {
    width: 50%;
}

.clear {
    clear: both;
}

.background {
    height: 500px;
    background-image: url('https://cdn.newsapi.com.au/image/v1/f3482f5b0acf54850cb72badd4e0116f?width=650');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.transform > img {
    transition: all .4s;
}

.transform > img:hover {
    /*    transform: rotate(720deg);*/
}

.centrowanie {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: bisque;
}

.centrowanie-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: darkcyan;
}

.transform-2 {
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.transform-2 > img {
    transition: .3s;
    /*    animation-name: skalowanie;*/
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

/*
.transform-2 > img:hover {
    transform: scale(1.2);
}
*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    background-color: black;
}

.flex-container-inner {
    flex-basis: 10%;
    height: 100px;
    background-color: royalblue;
}

.flex-container-inner:first-of-type {
    align-self: flex-start;
}

.flex-container-inner:nth-of-type(2) {
    order: 4;
}

.flex-container-inner:nth-of-type(3) {
    order: 3
}

@keyframes skalowanie {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(2)
    }

}
