/*
* {
    color: red;
}*/

div.uniwersalny {
    color: blue;
    margin-top: 100px;
}

/*pseudo elementy*/

/*pseudoelement należy do elementu*/
p::before {
    content: '*';
    /*    color: darkgoldenrod;*/
}

p::after {
    content: '***'
}

a:hover {
    color: orange;
}

input:focus {
    background-color: chocolate;
}

/*
ul li:first-child {
    color: orange;
}

ul li:last-child {
    color: orange;
}

ul li:first-of-type {
    color: orange;
}

ul li:nth-of-type(even) {
    color: darkcyan;
}

ul li:nth-of-type(4n + 1) {
    color: mediumvioletred;
}
*/
ul li:nth-last-of-type(even) {
    color: darkcyan;
}

ul li:nth-of-type(even) {
    color: red;
}

input[title] {
    border: 2px solid black;
}

input[title='nowy'] {
    border: 2px solid red;
}

input[title ~ ='jest'] {
    border: 4px solid blue;
}

/*
input[title*='o'] {
    border: 4px solid red;
}
*/


/*pozycjonowanie*/

.main-container {
    position: relative;
}

.main-container-inner {
    height: 200px;
}

/*
.orange {
    background-color: orange;
    position: relative;
    top: 20px;
    left: 80px;
}
*/
.orange {
    background-color: orange;
    position: absolute;
    width: 100%;
    top: 20px;
    left: 80px;
}

.gray {
    background-color: gray;
}

#main-nav {
    /*    position: fixed;*/
    /*    width: 100%;*/

    top: 0;
    left: 0;

    position: sticky;
    background-color: darkcyan;
    z-index: 1;
}

.jednostki-miary {
    margin-top: 100px;
    font-size: 20px;
}

.jednostki-miary > div {
    background-color: rgb(23, 123, 200, .4);
    margin-bottom: 10px;
}

#piksele {
    width: 400px;
}

#em {
    width: 20em;
}

#procenty {
    width: 50%;
}

#vh {
    height: 10vh;
}
